<app-header></app-header>

<app-custom-modal [visible]="showCustomModal" title="{{ customModalTitle }}" message="{{ customModalMessage }}"
    type="{{ customModalType }}" buttonText="{{ customModalButtonText }}" (confirmed)="onRetry()"
    (closed)="onClose()"></app-custom-modal>

<div class="forgot-password-container">
    @if ( step === 1 && !otpSend) {
    <h2>Recuperar Contraseña</h2>

    <form [formGroup]="forgotPasswordForm">

        <div class="input-group">
            <input placeholder="Correo electrónico" type="email" id="email" name="email" formControlName="email"
                required autocomplete="off" />
            <span class="bar"></span>
        </div>

        <div class="input-group center">
            <button type="button" (click)="continuar()" class="btn-continuar"
                [disabled]="!forgotPasswordForm.valid || loading">
                Continuar
                <span class="icono">
                    <img src="/images/flecha.png" alt="Flecha" />
                </span>
            </button>
        </div>

    </form>
    }

    @if ( step === 2 ) {
    <p>Ingresa el código de verificación que hemos enviado a tu correo electrónico</p>
    <app-otp-input [length]="5" (codeCompleted)="recibirCodigo($event)"></app-otp-input>
    <div class="buttons">
        <button class="outline-button" (click)="reenviarOtp()">Reenviar</button>
        <button class="filled-button" (click)="verificarOtp()">Verificar</button>
    </div>
    }
    @if (loading) {
    <div class="loading-container">
        <ng-lottie [options]="loadingOptions" width="100px" height="100px"></ng-lottie>
    </div>
    }
    @if ( step === 3) {
    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
        <div class="input-group">
            <input placeholder="Contraseña" type="password" id="password" name="password" formControlName="password"
                required autocomplete="off" />
            <span class="bar"></span>
        </div>
        <div class="input-group">
            <input placeholder="Confirmar Contraseña" type="password" id="confirmPassword" name="confirmPassword"
                formControlName="confirmPassword" required autocomplete="off" />
            <span class="bar"></span>
        </div>
        <div class="input-group center">
            <button type="submit" class="btn-continuar" [disabled]="!changePasswordForm.valid">
                Cambiar contraseña

            </button>
        </div>
    </form>
    }
</div>