<div *ngIf="visible" class="modal-overlay" (click)="backdropClick()">
  <app-address-select-modal
    [(visible)]="showAddressModal"
    [addresses]="addressList"
    (selected)="onAddressSelected($event)"
  ></app-address-select-modal>
  <div class="loading-wrapper" *ngIf="loading">
    <div class="spinner"></div>
  </div>
  <app-confirm-contract-modal
    [visible]="showValidationModal"
    [contractNumber]="form.controls['number'].value"
    (closed)="onCloseModal()"
    (validated)="onValidate($event)"
  ></app-confirm-contract-modal>

  <form
    class="modal"
    role="dialog"
    aria-modal="true"
    aria-labelledby="modalTitle"
    (click)="$event.stopPropagation()"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="modal-header">
      <h3 id="modalTitle">Inscribir contrato</h3>
      <button type="button" class="btn-close" (click)="close()" aria-label="Cerrar">✕</button>
    </div>

    @if (errorMessage) {
    <div class="error-message-contract">{{ errorMessage }}</div>
    }

    <div class="modal-body">
      <div class="info-text-container">
        <div class="info-text-icon">
          <img src="/images/informacion.png" alt="info" />
        </div>
        <div class="info-text">
          Ingresa el contrato que deseas inscribir y una vez verifiques la dirección, asígnale un
          nombre personalizado.
        </div>
      </div>

      <div class="contrat-container-info">
        <div class="contract-container-data">
          <div class="contract-container" [ngClass]="{ verified: contractVerified }">
            @if (contractVerified) {
            <div>Contrato *</div>
            <div>{{ contrato }}</div>
            <div>Dirección</div>
            <div>{{ correctAddress }}</div>

            } @else if (!contractVerified) {
            <div class="input-group margin-custom">
              <input
                placeholder=""
                type="text"
                id="contrato"
                name="contrato"
                autocomplete="off"
                formControlName="number"
              />
              <label for="name">Contrato *</label>
              <span class="bar"></span>
            </div>
            }
          </div>
        </div>

        <div class="companies">
          <label for="company" class="md-label">Comercializadora</label>
          <select id="company" formControlName="companyId" (focus)="onFocus()" (blur)="onBlur()">
            <option *ngFor="let o of companies" [value]="o.id">{{ o.name }}</option>
          </select>
        </div>
      </div>

      <div class="fields_container">
        <div class="personalized_name">
          <div class="input-group error.">
            <input
              placeholder=" "
              type="text"
              id="name"
              name="name"
              formControlName="name"
              autocomplete="off"
            />
            <label for="name">Nombre personalizado *</label>
            <span class="bar"></span>
            @if (form.controls['name'].invalid && form.controls['name'].touched) {

            <div class="error-message-container">
              <span class="error-message-circle">x</span>
              <span class="error-message-input"> Campo requerido</span>
            </div>
            }
          </div>
        </div>
      </div>

      <div class="verify-wrapper">
        <button type="button" class="outline-button font-12" (click)="verificarContrato()">
          Verificar contrato
        </button>
      </div>

      <div class="location-wrapper">
        <div class="select-wrapper" [class.open]="openSelect">
          <label for="province" class="md-label">Departamento</label>

          <select id="province" formControlName="provinceId" (focus)="onFocus()" (blur)="onBlur()">
            <option *ngFor="let o of provinces" [value]="o.id">{{ o.name }}</option>
          </select>
        </div>

        <div class="select-wrapper" [class.open]="openSelect">
          <label for="province" class="md-label">Ciudad</label>

          <select id="province" formControlName="cityId" (focus)="onFocus()" (blur)="onBlur()">
            <option *ngFor="let o of cities" [value]="o.id">{{ o.name }}</option>
          </select>

          <span class="arrow" aria-hidden="true"></span>
        </div>
      </div>

      <div class="down">
        <div class="text-retrieve-info">
          <span>¿Como deseas recibir la factura?</span>
        </div>
        <div class="radios-container">
          <div class="radio-container">
            <label class="custom-radio">
              <input type="radio" formControlName="deliveryMethod" value="digital" />
              <span class="radio-mark"></span>
              <span class="radio-label">Correo electrónico</span>
            </label>

            <div class="info-text">
              <span class="info-text-gray"
                >*Si seleccionas esta opción, la factura continuará llegando </span
              ><strong>sólo de forma digital</strong>.
            </div>
          </div>

          <div class="radio-container">
            <label class="custom-radio">
              <input type="radio" formControlName="deliveryMethod" value="physical" />
              <span class="radio-mark"></span>
              <span class="radio-label">Física</span>
            </label>
            <div class="info-text">
              <span class="info-text-gray">*Si seleccionas esta opción, la factura </span>
              <strong>sólo se entregará de forma física</strong> en la dirección correspondiente.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="input-group center">
        <button type="button" class="btn ghost" (click)="close()">Cerrar</button>
      </div>
      <div class="input-group center">
        <button type="submit" class="btn-continuar">Inscribir contracto</button>
      </div>
    </div>
  </form>
</div>
