<app-header></app-header>

<app-contract-modal
  [(visible)]="showContractModal"
  (saved)="onContractSaved($event)"
></app-contract-modal>

<app-custom-modal
  [visible]="showCustomModal"
  title="{{ customModalTitle }}"
  message="{{ customModalMessage }}"
  type="{{ customModalType }}"
  buttonText="{{ customModalButtonText }}"
  (confirmed)="onRetry()"
  (closed)="onClose()"
></app-custom-modal>

<app-no-contracts-modal
  [visible]="showNoContracts"
  (close)="onNoContractsClosed()"
  (viewInvoices)="onViewContracts()"
  (registerInvoices)="onRegisterInvoices()"
></app-no-contracts-modal>

<div class="home-container">
  <div class="logout"></div>
  <div class="home-box">
    <div class="welcome">Hola, {{ user?.name }} {{ user?.lastname }}</div>
    <p>Bienvenido a la plataforma de pagos</p>
  </div>

  <div class="home-items">
     <!-- ***Se comenta mientras se implementa funcionalidad***
    <div class="item">
      <img src="/images/notificaciones.png" alt="Icono Pagos" />
    </div>
    <div class="item">
      <img src="/images/historial de pagos.png" alt="Icono Pagos" />
    </div>
  
    <div class="item">
      <a routerLink="/pending-payments">
        <img src="/images/facturas.png" alt="Icono Pagos" />
      </a>
    </div>
    -->
    <div class="item">
      <a routerLink="/facturas">
        <img src="/images/descargar factura.png" alt="Icono Pagos" />
      </a>
    </div>
    <div class="item" (click)="openContractModal(); $event.preventDefault()">
      <img src="/images/inscribir-contratos.png" alt="Inscribir contratos" />
    </div>
<!-- ***Se comenta mientras se implementa funcionalidad***    
    <div class="item">
      <a routerLink="/pending-payments">
        <img src="/images/ver-contratos.png" alt="Icono Pagos" />
      </a>
    </div>
-->
  </div>
</div>
