.home-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-box {
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}
.home-items {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding-left: 30px;
}

.item {
  width: 140px;
  height: 120px;
  border-radius: 10px;
  background-color: #0c5441;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item img {
  width: 120px;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(12, 84, 65, 0.9);
  cursor: pointer;
  cursor: pointer;
}

.welcome {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0c5441;
}
.logout {
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.submenu {
  text-align: left;
  padding-left: 30px;
}

.submenu h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #7a7878;
}

.submenu-items {
  display: flex;
  gap: 40px;
}

.submenu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.submenu-item .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submenu-item .icon.green {
  background-color: #008f39;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.submenu-link {
  text-decoration: none;
  color: #008f39;
  font-weight: bold;
  line-height: 1.2;
  font-size: 12px;
}
.submenu-link .title {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  text-decoration: underline;
}
