:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.middle-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #fff; 
}
.middle-logo {
  max-width: 180px;
  height: auto;
}

.banner {
  display: block;
  background-image: url('/images/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}

.menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  gap: 20px;
}
.menu-item {
  width: 160px;
  border-radius: 10px;
  margin: 10px;
  text-align: center; 
}
.menu-item img {
  border-radius: 10px; 
}

.tasa-container {
  width: 350px;
  height: 120px;
  background-color: #075c48;
  border-top-right-radius: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('/images/tasa-text-home.png');
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

.govco-header {
  width: 100%;
  background-color: #0B457F;
  padding: 5px 0;
}
.govco-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}
.govco-header-img {
  height: 28px;
}
.govco-footer {
  width: 100%;
  background-color: #0B457F;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.govco-footer-left {
  display: flex;
  gap: 20px;
  align-items: center;
}
.co-colombia-img {
  height: 32px;
}
.govco-footer-img {
  height: 32px;
}
.footer-logos {
    display: flex;
    align-items: center;
    gap: 12px; 
}
.footer-logos img {
    height: 28px; 
}
.separator {
    font-size: 22px;
    font-weight: bold;
    color: #555; 
}

.menu-row {
  width: 100%;
  display: flex;
  margin-top: 20px;
  padding: 10px 40px;
}
.menu-top {
  grid-column: span 4; 
  
}
.menu-bottom {
  grid-column: span 8; 
}
.register-item img {
  width: 300px;    
  height: auto;
}
.menu-bottom .menu-item img {
  width: 160px;
  height: auto;
  border-radius: 10px;
}