<!--// TODO: extraer el header y Footer a un componente compartido (Shared/Header-Footer)-->
<!--Chat en burbuja-->
<style>
  #chat-talia {
    clip-path: inset(27px 8px 27px 8px round 16px);
  }
</style>

<!-- BOTÓN FLOTANTE -->
<button id="abrir-talia" aria-controls="chat-talia" aria-expanded="false" style="
  position: fixed;
  bottom: 20px;
  right: 30px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
">
  <div class="talia-wrapper">
    <picture>
      <source srcset="/images/segurichatpc.svg" media="(min-width: 768px)">
      <img src="/images/movilsegurichat.svg" alt="Asistente TALIA" class="talia-icon">
    </picture>
  </div>

  <!--<img src="/images/icono-asistente-virtual.png" alt="Asistente TALIA" style="width:60px; height:60px;">-->
</button>

<!-- PÍLDORA / PLACEHOLDER -->
<span id="talia-pill" role="status" aria-live="polite" style="
  position: fixed; bottom: 20px; right: 130px; z-index: 10000;
  max-width: 320px; background:#ffffff; color:#0e4a39;
  border:1px solid rgba(0,0,0,.08); box-shadow:0 8px 20px rgba(0,0,0,.18);
  padding: 10px 12px; border-radius: 999px; font: 500 12px/1.25 system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
">
  Soy <strong>🤖SeguriChat</strong>, asistente IA especializado en la TASA de seguridad y convivencia para el
  departamento
  de Antioquia.
</span>

<!-- IFRAME DEL CHAT (sin src hasta que se abra) -->
<iframe id="chat-talia" class="closed" src="" title="Chat TALIA — Agente IA TASA" frameborder="0"
  allow="microphone; autoplay; encrypted-media" style="
    position: fixed;
    bottom: 20px;  
      
    border: none;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0 8px 24px rgba(0,0,0,0.25);
    z-index: 9999;
    opacity: 0;
    clip-path: inset(27px 8px 27px 8px round 16px);
    pointer-events: none;
    transition: opacity .3s ease, transform .3s ease;
  ">
</iframe>
<!--FIN Chat en burbuja-->

<div class="home-container">

  <div class="govco-header">
    <div class="govco-container">
      <a class="govco-link" href="https://www.gov.co" target="_blank" rel="noopener noreferrer">
        <img src="/images/logoGovCO.png" alt="Gov.co" class="govco-header-img">
      </a>
    </div>
  </div>
  <div class="main-content">
    <div class="middle-logo-container">
      <img src="/images/Logo-gob-antioquia-ant.png" alt="Gobernación de Antioquia" class="middle-logo">
    </div>

    <!-- ================= CARRUSEL BANNER ================= -->
    <div class="swiper banner-swiper">
      <div class="swiper-wrapper">

        <!-- Slide 1 -->
        <div class="swiper-slide">
          <picture>
            <!-- MÓVIL -->
            <source media="(max-width: 767px)" srcset="/images/Banner-responsive.png">
            <!-- ESCRITORIO -->
            <source media="(min-width: 768px)" srcset="/images/Banner5-1366.png">
            <img src="/images/Banner5-1366.png" alt="Banner 1" class="banner-img">
          </picture>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide">
          <picture>
            <source media="(max-width: 767px)" srcset="/images/Banner-Web-Camaras-videovigiancia.jpg">
            <source media="(min-width: 768px)" srcset="/images/Banner6-1366px-x-330px.jpg">
            <img src="/images/Banner6-1366px-x-330px.jpg" alt="Banner 2" class="banner-img">
          </picture>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide">
          <picture>
            <source media="(max-width: 767px)" srcset="/images/Banner-Web-Canales-habilitados2.jpg">
            <source media="(min-width: 768px)" srcset="/images/Banner7-canales-habilitados-1366px.jpg">
            <img src="/images/Banner7-canales-habilitados-1366px.jpg" alt="Banner 3" class="banner-img">
          </picture>
        </div>

        <!-- Slide 4 -->
        <div class="swiper-slide">
          <picture>
            <source media="(max-width: 767px)"srcset="/images/Banner-Webcarros-blindados-330px.jpg">
            <source media="(min-width: 768px)"srcset="/images/Banner8-Carros-blindados-1366.jpg">
            <img src="/images/Banner8-Carros-blindados-1366.jpg" alt="Banner carros blindados"class="banner-img">
          </picture>
        </div>

           <!-- Slide 5 -->
        <div class="swiper-slide">
          <picture>
            <source media="(max-width: 767px)" srcset="/images/Banner-Web-Nueva-funcion1920.jpeg">
            <source media="(min-width: 768px)" srcset="/images/Banner-tasa-Nueva-Funcion1366.jpeg">
            <img src="/images/Banner-tasa-Nueva-Funcion1366.jpeg" alt="Banner 4" class="banner-img">
          </picture>
        </div>

        <!-- Slide 6 -->
        <div class="swiper-slide">
          <picture>
            <source media="(max-width: 767px)" srcset="/images/banner4-1920x861.jpg">
            <source media="(min-width: 768px)" srcset="/images/banner4-1366x330.jpg">
            <img src="/images/banner4-1366x330.jpg" alt="Banner 6" class="banner-img">
          </picture>
        </div>

      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <div class="menu">
      <div class="menu-row menu-bottom">
        <div class="menu-item">
          <a href="https://sites.placetopay.com/tasa-seguridad-mp/login" target="_blank">
            <img src="/images/facturas.png" alt="Facturas" width="160" />
          </a>
        </div>

        <div class="menu-item">
          <a routerLink="/login">
            <img src="/images/descargar_factura.png" alt="Descargar factura" width="160" />
          </a>
        </div>

        <div class="menu-item">
          <a href="https://sites.placetopay.com/tasa-de-seguridad-micrositio-de-/login" target="_blank">
            <img src="/images/historial de pagos.png" alt="Historial de pagos" width="160" />
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="tasa-info-content">
    <div class="left">
      <div class="title">Tasa Especial de Seguridad y Convivencia</div>
      <p>La Tasa Especial de Seguridad y Convivencia Ciudadana es una contribución específica para fortalecer la
        financiación de la seguridad en Antioquia. </p>
      <p>Los recursos se invertirán en infraestructura, tecnología y movilidad para la Fuerza Pública, así como en
        escenarios deportivos para la convivencia ciudadana.</p>

      <div class="items">
        <div class="item">
          <a target="_blank" href="https://backuppag.s3.us-east-1.amazonaws.com/tasa-seg/ABC-Tasa-de+Seguridad.pdf">
            <img src="/images/boton-abc-tasa.png" />
          </a>
        </div>
        <div class="item">
          <a target="_blank"
            href="https://backuppag.s3.us-east-1.amazonaws.com/tasa-seg/Calendario+2026+Tasa+de+Seguridad+y+Convivencia+Ciudadana.pdf">
            <img src="/images/boton-calendario-tasa.png" />
          </a>
        </div>
        <div class="item">
          <a target="_blank" href="https://backuppag.s3.us-east-1.amazonaws.com/tasa-seg/Ordenanza-50-de-2024.pdf">
            <img src="/images/Botones-Ordenanza.png" />
          </a>
        </div>
        <div class="item">
          <a target="_blank"
            href="https://backuppag.s3.us-east-1.amazonaws.com/tasa-seg/Pago-Anticipado-de-la-Tasa-de-Seguridad.pdf">

            <img src="/images/Botones-Pago-anticipado.png" />
          </a>
        </div>
      </div>
    </div>
    <div class="right">
      <iframe class="video-iframe" src="https://www.youtube.com/embed/GjEsNt6kmuk" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen="" data-original-size="16px"></iframe>
    </div>
  </div>

  <!-- CONTENEDOR videos TASA -->
 
<div class="ts-video-seccion">
  <h2 class="tasa-noticias-title">Videos relacionadas con la Tasa de Seguridad</h2>

  <div class="swiper video-swiper">

    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <iframe src="https://www.youtube.com/embed/y3Xxl1paa6c" allowfullscreen></iframe>
      </div>

      <div class="swiper-slide">
        <iframe src="https://www.youtube.com/embed/3Z6eqD90mtY" allowfullscreen></iframe>
      </div>

      <div class="swiper-slide">
        <iframe src="https://www.youtube.com/embed/oKwfTkw-hrA" allowfullscreen></iframe>
      </div>

      <div class="swiper-slide">
        <iframe src="https://www.youtube.com/embed/cbACIgFR8-4" allowfullscreen></iframe>
      </div>

      <div class="swiper-slide">
        <iframe src="https://www.youtube.com/embed/-mEucqLEIWs" allowfullscreen></iframe>
      </div>

      <div class="swiper-slide">
        <iframe src="https://www.youtube.com/embed/iIJz6ULO75c" allowfullscreen></iframe>
      </div>

      <div class="swiper-slide">
        <iframe src="https://www.youtube.com/embed/xu7z0eGgu_o" allowfullscreen></iframe>
      </div>

      <div class="swiper-slide">
        <iframe src="https://www.youtube.com/embed/stqT4PAiMAE" allowfullscreen></iframe>
      </div>

      <div class="swiper-slide">
        <iframe src="https://www.youtube.com/embed/GlgM6P7OooU" allowfullscreen></iframe>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>

  </div>
</div>
  <!-- CONTENEDOR NOTICIAS TASA -->
  <div class="tasa-conten-noticias">
    <h2 class="tasa-noticias-title">Noticias relacionadas con la Tasa de Seguridad</h2>

    <div class="tasa-noticias-grid">
      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/con-la-tasa-de-seguridad-la-gobernacion-de-antioquia-entrega-nuevos-antidrones-y-motocicletas-al-ejercito-nacional"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-23.jpeg" alt="antidrones">
        </div>

        <div class="tasa-noticia-content">
          <h3>Con la Tasa de Seguridad, la Gobernación de Antioquia entrega nuevos antidrones y motocicletas al Ejército Nacional</h3>
          <p>Se trata de una inversión superior a los 8 mil 300 millones de pesos para la adquisición de 5 antidrones y 75 motocicletas.
             Avanzan las entregas de la Tasa de Seguridad: estaciones de Policía mejoradas, botes, drones, entre otros elementos para la Fuerza Pública.</p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
     <a href="https://antioquia.gov.co/index.php/antioquiacuenta/honramos-el-dia-del-trabajo-poniendo-en-marcha-estas-obras-dijo-el-gobernador-andres-julian-en-la-estacion-de-policia-de-buritica-mejorada-con-recursos-de-la-tasa-de-seguridad"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-22.jpeg" alt="Dia-del-trabajo">
        </div>

        <div class="tasa-noticia-content">
          <h3>Honramos el Día del Trabajo poniendo en marcha estas obras”, dijo el Gobernador Andrés Julián en la Estación de Policía de Buriticá, mejorada con recursos de la Tasa de Seguridad</h3>
          <p>El Gobernador Andrés Julián lideró este viernes la puesta en marcha del mejoramiento de la Estación de Policía de Buriticá, tras un proceso de intervención integral financiado con recursos de la Tasa Especial de Seguridad y Convivencia Ciudadana.</p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
     <a href="https://antioquia.gov.co/index.php/antioquiacuenta/gobernacion-de-antioquia-mejoro-la-estacion-de-policia-de-sabaneta-con-recursos-de-la-tasa-de-seguridad"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-21.jpeg" alt="Estacion-sabaneta">
        </div>

        <div class="tasa-noticia-content">
          <h3>Gobernación de Antioquia mejoró la Estación de Policía de Sabaneta con recursos de la Tasa de Seguridad </h3>
          <p>Gobernador Andrés Julián presentó las obras de mejoramiento que benefician a 134 uniformados.
             En los próximos días la Gobernación de Antioquia entregará antidrones y motocicletas al Ejército Nacional.</p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/tasa-de-seguridad-se-invierte-en-dignidad-para-la-fuerza-publica-esta-listo-el-mejoramiento-de-la-estacion-de-policia-de-caldas"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-20.jpeg" alt="fuerza-publica">
        </div>

        <div class="tasa-noticia-content">
          <h3>Tasa de Seguridad se invierte en dignidad para la Fuerza Pública: está listo el mejoramiento de la estación de Policía de Caldas. </h3>
          <p> Se trata de la segunda estación de Policía intervenida en el departamento con recursos de la Tasa de Seguridad, que beneficia a 70 uniformados.
              La Gobernación de Antioquia invierte más de 10 mil 335 millones de pesos en mejoramientos de infraestructura para la Fuerza Pública.    </p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/con-recursos-de-la-tasa-de-seguridad-se-renovo-la-primera-estacion-de-policia-del-departamento"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-19.jpeg" alt="policia-nacional">
        </div>

        <div class="tasa-noticia-content">
          <h3>Con recursos de la Tasa de Seguridad se renovó la primera estación de Policía del departamento. </h3>
          <p> La intervención en Carepa tuvo una inversión cercana a los 229 millones de pesos; también se han priorizado 24 estaciones de Policía en todo el departamento.
              La Gobernación de Antioquia ha destinado 500 mil millones de pesos en contratación de bienes y servicios con recursos de la Tasa de Seguridad.    </p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>

      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/gobernacion-de-antioquia-activa-entorno-deportivo-seguro-en-el-retiro-para-fortalecer-la-convivencia"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-18.jpeg" alt="Deportivo-seguro">
        </div>

        <div class="tasa-noticia-content">
          <h3>Gobernación de Antioquia activa Entorno Deportivo Seguro en El Retiro para fortalecer la convivencia.</h3>
          <p> La intervención de la placa polideportiva “Unidad Alterna” busca recuperar espacios para el deporte, la seguridad y la integración comunitaria.
            Más de 400 personas se benefician con mejoras en infraestructura, iluminación y vigilancia conectada al sistema departamental.   </p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>

      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/mas-de-dos-mil-100-camaras-del-departamento-estan-asociadas-al-nodo-departamental-de-seguridad"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-17.jpeg" alt="camaras">
        </div>

        <div class="tasa-noticia-content">
          <h3> Más de dos mil 100 cámaras del departamento están asociadas al Nodo Departamental de Seguridad</h3>
           <p>Esta estrategia denominada Integración a Terceros, permite que se fortalezca la seguridad en los territorios.
              Cualquier persona que tenga cámaras con visual al espacio público podrán ser integradas al Nodo Departamental de Seguridad.</p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
       <a href="https://antioquia.gov.co/index.php/antioquiacuenta/la-gobernacion-de-antioquia-ha-invertido-45-mil-millones-de-pesos-en-tecnologia-para-la-policia-nacional"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-16.jpeg" alt="policia-nacional">
        </div>

        <div class="tasa-noticia-content">
          <h3>La Gobernación de Antioquia ha invertido 45 mil millones de pesos en tecnología para la Policía Nacional</h3>
          <p> El Gobernador Andrés Julián destacó que el 66 % de los recursos corresponde a la Tasa Especial de Seguridad y Convivencia Ciudadana.
            Este viernes se entregaron 103 radios de comunicación y un teléfono satelital a tres unidades policiales en el Departamento. </p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>

      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/gobernacion-de-antioquia-entrego-seis-camionetas-blindadas-al-ejercito-nacional-con-recursos-de-la-tasa-de-seguridad"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-9.jpeg" alt="nodo departamental">
        </div>

        <div class="tasa-noticia-content">
          <h3>Gobernación de Antioquia entregó seis camionetas blindadas al Ejército Nacional con recursos de la Tasa de
            Seguridad</h3>
          <p>Con una inversión por más de 2 mil 200 millones de pesos, los vehículos conformarán los Escuadrones
            Militares y Policiales Antioquia Segura.
            Gobernador Andrés Julián agradeció a los contribuyentes por el pago de la Tasa de Seguridad y recalcó que el
            tributo está firme.</p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/en-rionegro-el-gobernador-andres-julian-activo-frente-de-seguridad-ciudadano-y-camara-conectada-al-nodo-departamental-en-la-renovada-placa-polideportiva-de-alto-bonito"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-8.jpeg" alt="nodo departamental">
        </div>

        <div class="tasa-noticia-content">
          <h3>En Rionegro, el Gobernador Andrés Julián activó frente de seguridad ciudadano y cámara conectada al Nodo
            Departamental en la renovada placa polideportiva de Alto Bonito</h3>
          <p>La placa polideportiva de Alto Bonito, en Rionegro, fue intervenida y mejorada con recursos de la Tasa de
            Seguridad y Convivencia Ciudadana.
            Hay más de 7 mil 500 sistemas de participación ciudadana para la seguridad en 84 municipios vinculados a la
            Gobernación de Antioquia.</p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/gobernador-andres-julian-destaco-inversion-en-placa-polideportiva-mejorada-con-recursos-de-la-tasa-de-seguridad-en-liborina"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-6.jpeg" alt="Placa polideportiva">
        </div>

        <div class="tasa-noticia-content">
          <h3>Gobernador Andrés Julián destacó inversión en placa polideportiva mejorada con recursos de la Tasa de
            Seguridad en Liborina</h3>
          <p>En Consejo de Seguridad, reiteró la recompensa por cuatro criminales del Clan del Golfo y el frente 36 de
            las disidencias de las FARC, que delinquen en el Occidente antioqueño.
            El mandatario departamental resaltó inversiones por 145 mil millones de pesos en Liborina, Olaya,
            Sabanalarga, San Jerónimo y Sopetrán.</p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>

      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/gobernacion-de-antioquia-habilito-el-primer-escenario-deportivo-con-recursos-de-la-tasa-de-seguridad"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-3.jpeg" alt="Escenario deportivo Puerto Berrío">
        </div>

        <div class="tasa-noticia-content">
          <h3>Gobernación de Antioquia habilitó el primer escenario deportivo con recursos de la Tasa de Seguridad</h3>
          <p> En Puerto Berrío, el Gobernador Andrés Julián destacó la puesta en marcha de dos placas polideportivas de
            un total de seis en este municipio.
            La Gobernación de Antioquia avanza en el mejoramiento de 261 escenarios deportivos para la convivencia
            ciudadana en 114 municipios del departamento.</p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>

      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/antioquia-amplia-la-red-de-videovigilancia-con-la-integracion-de-privados-al-nodo-departamental-de-seguridad"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-2.png" alt="Red de videovigilancia">
        </div>

        <div class="tasa-noticia-content">
          <h3>Antioquia amplía la red de videovigilancia con la integración de privados al Nodo Departamental de
            Seguridad</h3>
          <p>La Gobernación de Antioquia fortalece la estrategia con el sector privado y actores estratégicos para
            ampliar capacidad de monitoreo.
            La iniciativa promueve la corresponsabilidad ciudadana y el trabajo articulado por la seguridad y la
            convivencia.</p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/gobernacion-de-antioquia-invierte-en-escenarios-deportivos-y-estaciones-de-policia-para-fortalecer-la-seguridad-y-la-convivencia"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-1.jpg" alt="Escenarios deportivos y seguridad">
        </div>

        <div class="tasa-noticia-content">
          <h3>Gobernación de Antioquia invierte en escenarios deportivos y estaciones de Policía para fortalecer la
            seguridad y la convivencia</h3>
          <p>Este año se materializarán las adecuaciones de 261 escenarios deportivos para la convivencia ciudadana y 25
            estaciones de Policía priorizadas.
            Las obras, con recursos de la Tasa de Seguridad, ya comenzaron y se entregarán de manera progresiva en los
            próximos meses.
          </p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>


      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/con-la-tasa-de-seguridad-la-gobernacion-de-antioquia-cumple-con-inversion-para-la-dignidad-y-operatividad-de-soldados-y-policias"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-4.jpeg" alt="Dotación Fuerza Pública">
        </div>

        <div class="tasa-noticia-content">
          <h3>Con la Tasa de Seguridad, la Gobernación de Antioquia cumple con inversión para la dignidad y operatividad
            de Soldados y Policías</h3>
          <p>Los recursos aportados por los contribuyentes se reflejan en entregas de dotación para la Fuerza Pública,
            así como avances en tecnología, mejoramiento de estaciones de Policía e intervenciones en escenarios
            deportivos.
            A la fecha, la Gobernación de Antioquia ha destinado más de 280 mil millones de pesos en contratación de
            bienes y servicios para la ejecución de los recursos. </p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>

      <a href="https://antioquia.gov.co/index.php/antioquiacuenta/gobernador-andres-julian-entrego-cascos-balisticos-chalecos-antibalas-botas-sobrecarpas-y-radios-al-ejercito-nacional"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-5.jpeg" alt="Entrega de dotación Ejército">
        </div>

        <div class="tasa-noticia-content">
          <h3>Gobernador Andrés Julián entregó cascos balísticos, chalecos antibalas, botas, sobrecarpas y radios al
            Ejército Nacional</h3>
          <p>El material de intendencia y comunicaciones se destinará a los Escuadrones Militares y Policiales Antioquia
            Segura – EMPÁS.
            El mandatario departamental anunció inversión en sistema antidrones por 4 mil millones de pesos.</p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
<a href="https://www.antioquia.gov.co/index.php/antioquiacuenta/gobernador-andres-julian-entrego-motocicletas-cascos-y-chalecos-antibalas-a-la-policia-nacional-con-recursos-de-la-tasa-especial-de-seguridad-y-convivencia-ciudadana"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-14.jpg" alt="mejoramiento">
        </div>

        <div class="tasa-noticia-content">
          <h3>Gobernador Andrés Julián entregó motocicletas, cascos y chalecos antibalas a la Policía Nacional con recursos de la Tasa Especial de Seguridad y Convivencia Ciudadana  </h3>
          <p>Con una inversión superior a los 7 mil 500 millones de pesos, la entrega de movilidad y material de intendencia hace parte de la estrategia Escuadrones Militares y Policiales Antioquia Segura – EMPÁS.
            Los vehículos mejorarán la capacidad de reacción y la presencia institucional en las diferentes subregiones del departamento.  </p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>


<a href="https://www.antioquia.gov.co/index.php/antioquiacuenta/gobernador-andres-julian-anuncia-el-inicio-de-los-mejoramientos-a-estaciones-de-policia-con-recursos-de-la-tasa-de-seguridad"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-13.jpg" alt="mejoramiento">
        </div>

        <div class="tasa-noticia-content">
          <h3>Gobernador Andrés Julián anuncia el inicio de los mejoramientos a estaciones de Policía con recursos de la Tasa de Seguridad  </h3>
          <p>Con una inversión por más de 7 mil 400 millones de pesos, se adecuará 25 inmuebles, entre estaciones y subestaciones.
            La Gobernación de Antioquia entregará en los próximos días motocicletas, cascos blindados y chalecos antibalas al Ejército y la Policía Nacional. </p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
 <a href="https://www.antioquia.gov.co/index.php/antioquiacuenta/gobernacion-de-antioquia-conecta-los-125-municipios-al-nodo-departamental-de-seguridad-y-habilita-operacion-24-7-del-numero-unico-de-seguridad-y-emergencias-123"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-12.jpg" alt="500 morrales Ejército">
        </div>

        <div class="tasa-noticia-content">
          <h3>Gobernación de Antioquia conecta los 125 municipios al Nodo Departamental de Seguridad y habilita operación 24/7 del Número Único de Seguridad y Emergencias 123 </h3>
          <p>Más de 4 mil cámaras, entre públicas y privadas, están conectadas al sistema de monitoreo departamental.
            Con recursos de la Tasa de Seguridad, hay operación plena del Número Único de Emergencias y Seguridad para lograr mayor eficiencia en atención. </p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
  <a href="https://www.antioquia.gov.co/index.php/antioquiacuenta/la-gobernacion-de-antioquia-le-sigue-cumpliendo-a-los-soldados-se-entregaron-500-morrales-de-dotacion-para-el-ejercito-con-recursos-de-la-tasa-de-seguridad"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-11.jpg" alt="500 morrales Ejército">
        </div>

        <div class="tasa-noticia-content">
          <h3>La Gobernación de Antioquia le sigue cumpliendo a los soldados: se entregaron 500 morrales de dotación para el Ejército con recursos de la Tasa de Seguridad </h3>
          <p>Ciudadanos participaron en la entrega de estos elementos que serán destinados a los Escuadrones Militares y Policiales Antioquia Segura.
            La Gobernación de Antioquia avanza en la adquisición de más elementos de dotación para el Ejército, la Armada y la Policía Nacional. </p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
      <a href="https://www.antioquia.gov.co/index.php/antioquiacuenta/gobernador-andres-julian-cumple-entrego-las-primeras-49-camionetas-al-ejercito-y-la-policia-con-recursos-de-la-tasa-de-seguridad"
        target="_blank" class="tasa-noticia-card">

        <div class="tasa-noticia-img">
          <img src="/images/noticia-10.jpg" alt="49 camionetasEjército">
        </div>

        <div class="tasa-noticia-content">
          <h3>Gobernador Andrés Julián cumple: entregó las primeras 49 camionetas al Ejército y la Policía con recursos de la Tasa de Seguridad</h3>
          <p>Los vehículos, que tuvieron una inversión de más de 10 mil 600 millones de pesos, serán destinados a los Escuadrones Militares y Policiales Antioquia Segura y beneficiarán a 123 municipios de Antioquia.
            Gobernación de Antioquia avanza en la adquisición de dotación para la Fuerza Pública. En los próximos meses se entregarán cascos, chalecos, botas, morrales, radios y motocicletas para soldados y policías.</p>
          <span class="tasa-leer-mas">Leer más →</span>
        </div>
      </a>
    </div>
  </div>
  <!-- FIN CONTENEDOR NOTICIAS TASA -->

  <!-- FRANJA VERDE INFORMACIÓN INSTITUCIONAL -->
  <div class="govco-footer-top">
    <div class="govco-footer-top-container">
      <p><strong>Gobernación de Antioquia</strong></p>
      <p>
        Horario: lunes a jueves de 7:30 a. m. a 12:00 m. y de 1:30 p. m. a 5:30 p. m.
        y los viernes de 7:30 a. m. a 12:00 m. y de 1:30 p. m. a 4:30 p. m.
      </p>
      <p>
        Dirección: Calle 42B Número 52-106 Centro Administrativo Departamental
        "José María Córdova" - La Alpujarra.
      </p>
      <p>
        Línea de Atención a la ciudadanía: +57 604 409 90 00 - 01 8000 4 19000
      </p>
      <p>
        Solicitudes de información:
        <a href="mailto:gestiondocumental@antioquia.gov.co">gestiondocumental@antioquia.gov.co</a> |
        Notificaciones judiciales:
        <a href="mailto:notificacionesjudiciales@antioquia.gov.co">notificacionesjudiciales@antioquia.gov.co</a>
      </p>
    </div>
  </div>
  <!-- FOOTER GOVCO -->
  <footer class="govco-footer">
    <div class="footer-logos">
      <a href="https://www.colombia.co/" target="_blank">
        <img src="/images/co-colombia.png" alt="Colombia" class="logo-colombia">
      </a>
      <span class="separator">|</span>
      <a href="https://www.gov.co/" target="_blank">
        <img src="/images/logoGovCO.png" alt="GovCo" class="govco-footer-img">
      </a>
    </div>
  </footer>


</div>

<!-- POPUP IMAGEN -->
<div class="image-modal-overlay" *ngIf="mostrarPopupImagen" (click)="cerrarPopupImagen()">

  <div class="image-modal-content" (click)="$event.stopPropagation()">

    <button class="image-close-btn" (click)="cerrarPopupImagen()">✕</button>

    <img src="/images/Banner-mantenimiento-web15mayo.jpg" alt="Información importante" class="popup-image">
  </div>
</div> 




