<div class="banner">
  <div class="logo-container"></div>
  <div class="btn-wrapper">
    <a routerLink="/login">
      <div class="btn-registro-login"></div>
    </a>
  </div>
  <div class="tasa-container"></div>
</div>
<div class="menu">
  <div class="menu-item">
    <img src="/images/notificaciones.png" alt="Icono Pagos" width="160" />
  </div>
  <div class="menu-item">
    <img src="/images/historial de pagos.png" alt="Icono Pagos" width="160" />
  </div>
  <div class="menu-item">
    <img src="/images/facturas.png" alt="Icono Pagos" width="160" />
  </div>
  <div class="menu-item">
    <img src="/images/descargar factura.png" alt="Icono Pagos" width="160" />
  </div>
</div>
