<app-header></app-header>
<div class="container">
  <a href="/dashboard" class="volver">Volver a la página principal</a>


  <app-custom-modal
  [visible]="showCustomModal"
  title="{{ customModalTitle }}"
  message="{{ customModalMessage }}"
  type="{{ customModalType }}"
  buttonText="{{ customModalButtonText }}"
  (confirmed)="onRetry()"
  (closed)="onClose()"
></app-custom-modal>

  <h2>Ver mis históricos</h2>

  <div class="filtros-container">
    <div class="filtro-box">
      <div class="select-wrapper" [class.open]="openSelect">
        <label for="grado" class="md-label">Contrato</label>

        <select
          id="grado"
          (change)="onChangeContrato($event)"
          (focus)="onFocus()"
          (blur)="onBlur()"
          aria-label="Grado"
        >
          <option value="0">Seleccione una opción</option>
          @for (o of contracts; track o.id) {
          <option [value]="o.id">{{ o.number }}</option>
          }
        </select>

        <!-- flecha independiente (pointer-events: none para no bloquear el select) -->
        <span class="arrow" aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="facturas-table">
      <thead>
        <tr>
          <th>Estado</th>
          <th>Fecha factura</th>

          <th>Número factura</th>
          <th>Valor factura</th>
          <th>Dirección</th>
          <th>Fecha de vencimiento</th>
          <th>Descargar PDF</th>
        </tr>
      </thead>
      <tbody>
        @for (d of paginatedInvoices; track i; let i = $index) { }

        <tr *ngFor="let invoice of paginatedInvoices">
          <td>{{ invoice.status }}</td>
          <td>{{ formatDate(invoice.createdAt) }}</td>
          <td>{{ invoice.reference }}</td>
          <td>{{ invoice.total | currency : 'COP ' }}</td>
          <td>{{ invoice.address }}</td>
          <td>{{ formatDate(invoice.expirationDate) }}</td>
          <td style="text-align: center"><img 
            src="/images/descargar.png" 
            alt="Descargar" 
            style="cursor: pointer"
            (click)="downloadInvoice(invoice)"/></td>
        </tr>
      </tbody>
    </table>

    <div class="paginacion">
      <a href="#" [class.disabled]="currentPage === 1" (click)="goToFirst($event)"
        >← Ir al primero</a
      >
      <a href="#" [class.disabled]="currentPage === 1" (click)="prevPage($event)">Anterior</a>
      <span class="page-number">{{ currentPage }} / {{ totalPages }}</span>
      <a href="#" [class.disabled]="currentPage === totalPages" (click)="nextPage($event)"
        >Siguiente</a
      >
      <a href="#" [class.disabled]="currentPage === totalPages" (click)="goToLast($event)"
        >Ir al último →</a
      >
    </div>
  </div>
</div>
